<% user = logged_in? ? "Logged in as #{current_user.email}" : '' %>
<% current_uri = request.env['PATH_INFO'] %>

<p>
  <%= user %>
  <% if logged_in? %>
    <%= button_to("log out", session_url, method: 'delete') %>
  <% else %>
    <%= button_to("log in", new_session_url, method: 'get') unless current_uri == '/session/new' %>
    <%= button_to("create acct", new_user_url, method: 'get') unless current_uri == '/users/new' %>
  <% end %>
</p>
