

<h1 style="color:cornflowerblue"> rental requests </h1>
<h4> unrented kittens will be euthanized </h4>

<%= render "shared/rentals" %>

<form action="cat_rental_request/" method="POST">
  <select>
    <% Cat.all.each do |cat| %>
      <option value="<%= cat.name %>"><%= cat.name %></option>
    <% end %>
  </select>

    <input type="date" name="cat_rental_request[start_date]">
    <input type="date" name="cat_rental_request[end_date]">

  <input type="submit" value="Rent!">
</form>
