<% if flash[:errors] %>
  <p style="color:red"><%= flash[:errors] %></p>
<% end %>

<form action="<%= session_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="user[user_name]">Username</label>
  <input type="text" name="user[user_name]" value="<%= flash[:user_name] %>">


  <label for="user[password]">Password</label>
  <input type="password" name="user[password]">

  <input type="submit" value="Go!">
</form>
